body {
  margin: 0;
  background: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  padding: 10px 0;
}

.headerLeft img {
  width: 170px;
  height: 60px;
}

.header .headerMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .headerMain .headerLeft {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header .headerLeft .headerWords ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.header .headerLeft .headerWords ul li {
  list-style-type: none;
}

.header .headerLeft .headerWords ul li a {
  text-decoration: none;
  color: #3a87fe;
  font-size: 20px;
  padding: 15px;
  transition: 300ms;
}
.header .headerLeft .headerWords ul li:hover a {
  background-color: #f3f3f3;
  padding: 15px;
  border-radius: 20px;
  color: #000;
  box-shadow: rgba(14, 98, 233, 0.25) 0px 54px 55px,
    rgba(6, 180, 255, 0.12) 0px -12px 30px, rgba(25, 154, 209, 0.12) 0px 4px 6px,
    rgba(30, 199, 255, 0.17) 0px 12px 13px,
    rgba(17, 138, 214, 0.09) 0px -3px 5px;
}

.header .headerMain .headerRight {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .headerRight .headerWords ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.header .headerRight .headerWords ul li {
  list-style-type: none;
}

.header .headerRight .headerWords ul li a {
  text-decoration: none;
  color: #3a87fe;
  font-size: 20px;
  padding: 15px;
  transition: 300ms;
}
.header .headerRight .headerWords ul li:hover a {
  background-color: #f3f3f3;
  padding: 15px;
  border-radius: 20px;
  color: #000;
  box-shadow: rgba(14, 98, 233, 0.25) 0px 54px 55px,
    rgba(6, 180, 255, 0.12) 0px -12px 30px, rgba(25, 154, 209, 0.12) 0px 4px 6px,
    rgba(30, 199, 255, 0.17) 0px 12px 13px,
    rgba(17, 138, 214, 0.09) 0px -3px 5px;
}
.header .headerRight select {
  transition: 300ms;
  border: none;
  outline: none;
  padding: 8px;
  color: #212529;
  border-radius: 20px;
  font-size: 17px;
  background: rgba(235, 235, 235, 0.5);
  box-shadow: rgba(0, 20, 51, 0.25) 0px 54px 55px,
    rgba(6, 180, 255, 0.12) 0px -12px 30px, rgba(25, 154, 209, 0.12) 0px 4px 6px,
    rgba(30, 199, 255, 0.17) 0px 12px 13px,
    rgba(17, 138, 214, 0.09) 0px -3px 5px;
}

.header .headerRight:hover select {
  color: #ffffff;
  background: #3a87fe;
}
